<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OSM2019.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OSM2019.Properties.Settings>
            <setting name="AnacondaPath" serializeAs="String">
                <value>C:\Users\majitaki\Anaconda3\Scripts\activate.bat</value>
            </setting>
            <setting name="AnacondaEnv" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphGeneratorFolderPath" serializeAs="String">
                <value>./Resources/PythonScript/GraphGenerator/</value>
            </setting>
            <setting name="LayoutGeneratorFolderPath" serializeAs="String">
                <value>./Resources/PythonScript/LayoutGenerator/</value>
            </setting>
            <setting name="lab_path" serializeAs="String">
                <value>C:\Users\majitaki\Anaconda3\Scripts\activate.bat</value>
            </setting>
            <setting name="home_path" serializeAs="String">
                <value>G:\ProgramData\Anaconda3\Scripts\activate.bat</value>
            </setting>
            <setting name="kaigi_path" serializeAs="String">
                <value>C:\ProgramData\Anaconda3\Scripts\activate.bat</value>
            </setting>
            <setting name="note_path" serializeAs="String">
                <value>C:\Users\majit\Anaconda3\Scripts\activate.bat </value>
            </setting>
            <setting name="RawGraphFile" serializeAs="String">
                <value>graph.json</value>
            </setting>
            <setting name="WorkingFolderPath" serializeAs="String">
                <value>./Working/</value>
            </setting>
            <setting name="RawGraphFlag" serializeAs="String">
                <value>graph_flag</value>
            </setting>
            <setting name="LayoutFile" serializeAs="String">
                <value>position.csv</value>
            </setting>
            <setting name="LayoutFlag" serializeAs="String">
                <value>layout_flag</value>
            </setting>
            <setting name="TmpGraphFile" serializeAs="String">
                <value>tmp_graph.json</value>
            </setting>
        </OSM2019.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>